<style>
    .req{
        color: #d93025;
    }

    #form {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        background-color: #e4e1e1;
        margin-top: 5%;
        border-radius: 8px;
        padding-top: 1%;
        margin-bottom: 10%;
    }

    .campo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .campo-input {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .form-label {
        padding-left: 2.5%;
    }

    .label-ft {
        padding-left: 5%;
    }

    .btn-envi {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        padding-bottom: 10%;
    }

    .btn-cancel {
        float: right;
    }

    .btn-envi-btn {
        float: left;
    }

    .btn-cancel-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .btn-envi-btn-input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
</style>
{{#if edit}}
    <form method="POST" enctype="multipart/form-data" action="/veri-produto?edit=true" id="form">
        <div id="secrets">
            <input type="hidden" name="id" id="id" value="{{id}}">
            <input type="hidden" value="false" name="api" id="api"/>
            <input type="hidden" name="login" id="login" value="{{login}}">
            <input type="hidden" name="fileName_Img" id="fileName_Img" value="{{fileName_Img}}">
            <input type="hidden" name="originalname" id="originalname" value="{{nomeOrigin}}">
            <input type="hidden" name="senha" id="senha" value="{{senha}}">
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Nome do produto" class="form-label">
                    Nome: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <input type="text" required id="nome" name="nome" class="form-control" value="{{nome}}">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Categoria do produto" class="form-label">
                    Categoria: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
               <input type="text" required id="categoria" name="categoria" class="form-control" value="{{categoria}}">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Peso do produto" class="form-label">
                    Peso: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <input type="text" required id="peso" name="peso" class="form-control" value="{{peso}}">
            </div>
        </div>
        
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Marca do produto" class="form-label">
                    Marca: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <input type="text" required id="marca" name="marca" class="form-control" value="{{marca}}">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Preço do produto" class="form-label">
                    Preço: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <input type="text" required id="preco" name="preco" class="form-control" value="{{preco}}">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Descrição do produto" class="form-label">
                    Descrição Do Produto: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <textarea required id="desc" name="desc" class="form-control">{{desc}}</textarea>
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Foto do produto" class="form-label row label-ft">Foto Do Produto: </label>
            </div>
            <div class="row campo-input">
                <input type="file" name="file" id="file" class="form-control">
            </div>
        </div>
        <div class="row btn-envi">
            <div class="col-6 btn-envi-btn">
                <input type="submit" value="Cadastrar" class="btn btn-success btn-envi-btn-input">
            </div>
            <div class="col-6 btn-cancel">
                <a href="painel-admin" style="text-decoration: none;">
                    <button type="button" class="btn btn-danger btn-cancel-btn">Cancelar</button>
                </a>
            </div>
        </div>
    </form>
{{else}}
    <form method="POST" enctype="multipart/form-data" action="/veri-produto" id="form">
        <div class="secrets">
            <input type="hidden" value="false" name="api" id="api"/>
            <input type="hidden" name="login" id="login" value="{{login}}">
            <input type="hidden" name="senha" id="senha" value="{{senha}}">
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Nome do produto" class="form-label">
                    Nome: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <input type="text" required id="nome" name="nome" class="form-control">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Categoria do produto" class="form-label">
                    Categoria: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
               <input type="text" required id="categoria" name="categoria" class="form-control">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Peso do produto" class="form-label">
                    Peso: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <input type="text" required id="peso" name="peso" class="form-control">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Marca do produto" class="form-label">
                    Marca: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <input type="text" required id="marca" name="marca" class="form-control">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Preço do produto" class="form-label">
                    Preço: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <input type="text" required id="preco" name="preco" class="form-control">
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Descrição do produto" class="form-label">
                    Descrição Do Produto: <span class="req">*</span>
                </label>
            </div>
            <div class="row campo-input">
                <textarea required id="desc" name="desc" class="form-control"></textarea>
            </div>
        </div>
        <div class="row campo">
            <div class="row campo-nome">
                <label for="Foto do produto" class="form-label row label-ft">Foto Do Produto: </label>
            </div>
            <div class="row campo-input">
                <input type="file" name="file" id="file" class="form-control">
            </div>
        </div>
        <div class="row btn-envi">
            <input type="submit" value="Cadastrar" class="btn btn-success">
        </div>
    </form>
{{/if}}