<style>
    .req{
        color: #d93025;
        margin-right: 2px;
    }

    #form {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 3%;
        margin: 5%;
    }

    .campo-jt-1 {
        width: 100%;
    }

    .campo-jt {
        width: 40%;
        display: inline-block;
        margin-left: 6.5%;
    }

    .campo-jt>input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .campo-jt>input:focus {
        transition-timing-function: linear;
        transition-duration: 0.1s;
        box-shadow: 0 0 0 0;
        outline: 0;
        border: 1.5px solid #0974ff;
    }
</style>
{{#if exclu}}
    <style>
        .btns {
            width: 100%;
            display: inline-block;
        }
        .btns>input {
            display: inline-block;
            width: 40%;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 6.5%;
        }
    </style>
    <script>
        function veri2() {
            var form = window.document.getElementById('form')
            form.action = '/loca-delete'
        }
    </script>
{{else}}
    <style>
        .btn-solo {
            display: block;
            width: 40%;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{{/if}}

<form method="POST" action="/edit-veri" id="form">
    <br>
    <div class="campo-jt-1">
        <div class="campo-jt">
            <label for="estado" class="txt">Estado: </label><span class="req">*</span><br><input required value="{{estado}}" type="text" id="estado" placeholder="Estado" name="estado"/>
        </div>
        <div class="campo-jt">
            <label for="cidade" class="txt">Cidade: </label><span class="req">*</span><br><input required value="{{cidade}}" type="text" id="cidade" placeholder="Cidade" name="cidade"/>
        </div>
    </div>
    <br>
    <div class="campo-jt-1">
        <div class="campo-jt">
            <label for="bairro" class="txt">Bairro: </label><span class="req">*</span><br><input required value="{{bairro}}" type="text" id="bairro" placeholder="Bairro" name="bairro"/>
        </div>
        <div class="campo-jt">
            <label for="rua" class="txt">Rua: </label><span class="req">*</span><br><input required value="{{rua}}" type="text" id="rua" placeholder="Rua" name="rua"/>
        </div>
    </div>
    <br>
    <div class="campo-jt-1">
        <div class="campo-jt">
            <label for="numero-da-casa" class="txt">Número Da Casa: </label><span class="req">*</span><br><input required type="text" id="num" placeholder="Número Da Casa" name="num" value="{{num}}"/>
        </div>
        <div class="campo-jt">
            <label for="complemento-ou-referencia" class="txt">Complemento Ou Referência: </label><br><input type="text" id="comple" placeholder="Complemento Ou Referência" name="comple" value="{{comple}}">
        </div>
    </div>
    <br>
    <br>
    {{#if exclu}}
        <div class="btns">
            <input type="submit" value="Alterar Endereço" id="enviar" class="btn btn-primary">
            <input type="submit" value="Excluir Endereço" id="excluir" onclick="veri2()" class="btn btn-danger">
        </div>
    {{else}}
        <input type="submit" value="Alterar Endereço" id="enviar" class="btn btn-primary btn-solo">
    {{/if}}
</form>
